@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

@import url('https://fonts.googleapis.com/css?family=Bebas Neue');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

html {
    overflow: hidden;
    font-family: 'Bebas Neue';
}

body {
    background: transparent !important;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.progress-container {
    display: none;
    z-index: 5;
    color: #fff;
    border: 1px solid #7e7e7eb2;    
    border-radius: 5px;
    font-family: 'Bebas Neue';
    width: 15%;
    position: fixed;
    bottom: 20%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.progress-labels {
    width: 100%;
    height: 4vh;
    line-height: 4vh;
    text-align: center;
    position: absolute;
    display: inline-block;
    white-space: nowrap;
}

.progress-labels div {
    font-size: 25px;
    letter-spacing: 2px;
    line-height: 4vh;
    position: relative;
    top: -45px;
    color: #ffffff;
    z-index: 10;
    font-variant: small-caps;
    text-transform: uppercase;
}

.progress-bar-container {
    width: 100%;
    height: 1vh;
    background: #474747fb;            
    text-align: left;
    overflow: hidden;
    position: relative;
    display: block;
    white-space: nowrap;
    border-radius: 5px;
}

.progress-bar {
    background: #06e3a1;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #06e3c5, #d8fffa);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #06e3c5, #d8fffa); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 0%;
    height: 1vh;
    transition: width 0.1s;
    transition-timing-function: ease-out;
}

.progress-button {
    background: #06dce3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #06e3d8, #3aaaaa);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3aaaa4, #06d4e3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    border: 1px solid #7e7e7ead;   
    width: 40px;
    height: 40px;    
    display: none;    
    margin-top: 84vh;
    margin-left: 86vh;        
    transform: rotate(45deg); 
}

.progress-button-text {
    width: 100%;
    height: 100%;  
    color: #fff;
    margin-left: 0.2vh;  
    margin-top: 0.25vh;      
    text-align: center;
    transform: rotate(-45deg);
}
